[Desktop Entry]
Encoding=UTF-8
Name=Menu bar preferences (gsBar)
Name[es]=Preferencias de la barra de menú (gsBar)
Exec=sh /usr/share/gsbar/gsbar.sh
Icon=/usr/share/pixmaps/gsbar_icon.png
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
